.main{
    width: 800px;
    float: left;
    margin: 0 10px;
}

.sidebar{
    float: right;
    margin: 20px 60px 0 0px;
    font-family: 'Bitter', serif;
}

a img:hover{
    opacity: 0.8;
}

.main h1{
    border-bottom: 2px solid lightblue;
}

#photograph{
    background-image: url("../images/bg-photograph.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#photograph .photograph-list li{
    float: left;
    list-style: none;
    margin: 0 20px 15px 0;
}

#photograph .photograph-list li:nth-child(3n){
    /* margin-right: 0; */
}
