.main{
    width: 700px;
    float: left;
    margin: 0 10px;
}

.sidebar{
    float: right;
    margin: 20px 60px 0 0px;
    font-family: 'Bitter', serif;
}

a img:hover{
    opacity: 0.8;
}

.main h1{
    border-bottom: 2px solid lightblue;
}