header {

    width: 960px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
}

.global-nav{
    float: right;
    margin: 0px;
    padding: 0px;
    margin-top: 30px
}
.global-nav li{
    float: left;
    color: ivory;
    margin-left: 15px;
    list-style: none;
    /* font-size: 10px */
}


#index{
    background-image: url("../resource/Free Creative Business Flatlay by Burst_02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#index h1 {
    font-size: 100px;
    color: ivory;
    line-height: 1;
    font-family: 'Bitter', serif;
}

#index .content{
    margin-top: 300px;
}

.content p{
    font-size: 16px;
}

.content .main{
    margin-top: 150px;
}

.btn a{
    background-color: lightblue;
    color: ivory;
    font-size: 20px;
    font-family: 'bitter', serif;
    display: block;
    width: 100px;
    text-align: center;
    line-height: 50px;
    /* margin-top: 20px; */
    border-radius: 5px;
    border: 3px solid lightblue;
    text-decoration: none;
    margin-top: 0px;
}

.btn a:hover{
    background-color: ivory;
    color: lightblue;
}