header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
}

.global-nav{
    float: right;
    margin: 0px;
    padding: 0px;
    margin-top: 30px
}
.global-nav li{
    float: left;
    color: ivory;
    margin-left: 15px;
    list-style: none;
} 

#about{
    background-image: url("../resource/Free Creative Business Flatlay by Burst_02.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto
}

#wrap{
    clear: both;
    background-color: white;
    margin-top: 220px;
    padding: 35px 0;
}

.main-center{
    /* width: 940px; */
    margin: 0 auto;
}

h1{
    font-family: 'Bitter' serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

h2{
    font-family: 'Bitter' serif;
    font-size: 24px;
}

.icon::before{
    content: "";
    padding-left: 10px;
    border-left: 7px solid #9cb4a4;
}

#about .profile-txt{
    width: 540px;
    /* float: left; */
}

#about .profile-txt{
    font-weight: bold;
}

.profile-img{
    float: left;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

section{
    margin-top: 35px;
}

#about .career th{
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border:1px solid #cccccc;
}

#about .career td{
    width: 660px;
    padding: 12px 40px;
    border: 1px solid #cccccc;
}

table{
    border-spacing: 0;
}